<div class="minerva-navbar">
  <div class="nav-left">
    <a href="http://0.0.0.0:3000/minerva">Minerva</a>
  </div>
  <div class="nav-right">
    <div>About</div>
    <div>COVID-19 Safety</div>
    <div>Our Program</div>
    <div>Shop With Us</div>
    <div>Virtual Tour</div>
    <button class="blue-white">&nbsp;Enroll Your Child&nbsp;</button>
    <button class="white-blue">&nbsp;Contact Us&nbsp;</button>
  </div>
</div>
<div class="minerva-form">
  <input type="text" placeholder="First Name">
  <input type="text" placeholder="Last Name">
  <input type="text" placeholder="Phone">
  <input type="text" placeholder="National ID Card">
  <input type="date" placeholder="Date">
  <input type="time" placeholder="Drop Time">
  <input type="time" placeholder="Pickup Time">
  <input type="number" placeholder="No of children">
  <input type="text" placeholder="Child Name(s)">
  <input type="number" placeholder="Child Age(s)">
  <input type="text" placeholder="Alternate Guardian (if any)">
  <input type="text" placeholder="Address">
  <input type="submit">
</div>