<div class="minerva-navbar">
  <div class="nav-left">
    <a href="http://0.0.0.0:3000/minerva">
      <%= image_tag 'minerva-logo.png' %>
      Minerva
    </a>
  </div>
  <div class="nav-right">
    <div>C-19 Safety</div>
    <div>Our Program</div>
    <div>Educators</div>
    <div>Shop</div>
    <div>Virtual Tour</div>
    <button class="blue-white">&nbsp;Enroll&nbsp;</button>
    <button class="white-blue">&nbsp;Contact&nbsp;</button>
  </div>
</div>